<div class="span3">
  <div class="well sidebar-nav">
    <h3>О приложении</h3>

    <p>Это приложение было написано с использованием ruby и фреймворка ruby on rails 
      для научной работы в области максимизации потока в сети</p>
  </div><!--/.well -->
</div><!--/span-->
